<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NapTrack</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <!-- res.render(__dirname + "/public/index.html"); -->


  <body>
    <h1>Welcome to NapTrack</h1>
    <h2>This is a tracker for your little one's naps</h2>
    <!-- <li> -->
    <!-- </li>  -->

    <!-- <div id="stopwatch">00:00</div> -->
    <!-- <button id="stopButton">Stop</button> -->

    <!-- <button class="btn btn-primary"> This is a button. </button> -->
    <form action="/view" method="GET">
      <!-- <label for="childName">Child's Name:</label> -->
      <input type="text" id="childName" name="childName" placeholder="Child's Name" required autofocus>
      <input type="submit" value="Submit">
    </form>


  </body>

  <footer>(c) Benjamin Hong 2023</footer>

</html>